<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<body>
<div th:replace="fragments/navigation.html :: navbar"></div>

<div class="container">
    <h1>Upload GIF (192x32)</h1>

    <form action="#" th:action="@{/gif/upload}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">File</label>
            <input type="file" id="file" name="file" class="form-control" />
            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
        </div>
    </form>

    <div th:if="${gif}">
        <p th:text="'The file >>' + ${gif.name} + '<< was uploaded, do you like to play it directly?'"></p>

        <img th:src="@{/gif/show/{name}(name=${gif.id})}" height="32" width="192" />
        <br/>
        <br/>
        <a th:href="@{/gif/play/{name}(name=${gif.id})}">Play on ticker</a>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>