<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<body>
<div th:replace="fragments/navigation.html :: navbar"></div>

<div class="container">
    <h1>Animationen
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
            +
        </button>
    </h1>
    <div th:replace="fragments/gif_modal.html :: upload"></div>

    <div th:if="${gif}">
        <p th:text="'Das GIF >>' + ${gif.name} + '<< wurde hochgeladen, direkt abspielen?'"></p>

        <img th:src="@{/gif/show/{name}(name=${gif.id})}" height="32" width="192" />
        <br/>
        <br/>
        <a th:href="@{/gif/play/{name}(name=${gif.id})}">Play on ticker</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">#</th>
                <th scope="col">Play</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="gif : ${gifs}" th:class="${selected == gif.id} ? 'selected' : ''">
                <th scope="row" th:text="${gif.name}"></th>
                <td><img th:src="@{/gif/show/{name}(name=${gif.id})}" height="32" width="192" /></td>
                <td><a th:href="@{/gif/play/{name}(name=${gif.id})}">Play on ticker</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>